In [123]:
import pandas as pd
import numpy as np

#1

df = pd.read_csv('mower_market_snapshot.csv', sep=';')
df

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [67]:
#2

df.head(2)

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.00636,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.00684,0.699792

In [125]:
df.describe()

,capacity,failure_rate,id,margin,price,market_share,attractiveness
count,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000
mean,47.663266,0.166448,18958.000000,186.262609,260.075165,0.002144,0.636507
std,19.840501,0.073605,404.000825,191.011102,259.949127,0.001790,0.124016
min,0.013884,0.028906,18259.000000,52.943989,62.162200,0.000564,0.297384
25%,35.853890,0.095678,18608.500000,62.247602,73.379425,0.001135,0.549369
50%,50.309242,0.199796,18958.000000,66.299672,78.439753,0.001399,0.641351
75%,61.905015,0.228011,19307.500000,265.370973,384.265263,0.002446,0.726746
max,104.614865,0.302465,19657.000000,790.012898,964.973926,0.009314,0.952877

In [126]:
df.tail(3)

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [129]:
df.iloc[-3:]

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [130]:
df.iloc[:3]

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129

In [135]:
df.loc[:6, 'id':'price']

      id      margin       price
0  18377  633.766584  828.802103
1  19363  731.576817  882.894916
2  19641  741.218202  919.355522
3  18728  654.255635  817.085097
4  18722  703.094527  844.581465
5  18268  728.284617  905.297503
6  18448  757.351286  930.615022

In [136]:
df.loc[:6, ('id', 'quality')]

      id quality
0  18377     Low
1  19363     Low
2  19641     Low
3  18728     Low
4  18722  Medium
5  18268  Medium
6  18448   Hight

In [138]:
df.loc[:, ['id', 'quality', 'warranty']]

         id quality warranty
0     18377     Low     3ans
1     19363     Low   3 ans.
2     19641     Low    3_ans
3     18728     Low   3 anss
4     18722  Medium    3ans.
...     ...     ...      ...
1394  18451  Medium     1 an
1395  18663     Low     1ans
1396  19169     Low     1an.
1397  18946     Low     1 an
1398  19017     Low     1an.

[1399 rows x 3 columns]

In [140]:
df.loc[:,['margin','price']].iloc[2:8]

       margin       price
2  741.218202  919.355522
3  654.255635  817.085097
4  703.094527  844.581465
5  728.284617  905.297503
6  757.351286  930.615022
7  633.515449  818.075591

In [142]:
df.loc[df.index[3], 'id']

18728

In [127]:
df[df["quality"].isin(["Low"])]

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
7,8.676314,0.042066,18943,633.515449,818.075591,184.56014118975136,auto-portee,Low,3 anss,0.005291,0.541318
...,...,...,...,...,...,...,...,...,...,...,...
1393,40.831294,0.217289,18950,62.296416,69.391858,7.095442545963653,essence,Low,1 an,0.001163,0.613849
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [128]:
df.sort_values(by="capacity", ascending=True)

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
101,0.013884,0.036738,18693,681.438480,852.583195,171.14471481439216,auto-portee,Low,3ans.,0.005851,0.598618
124,0.014235,0.037153,18585,624.478314,786.026582,161.54826823781949,auto-portee,Low,3ans.,0.006297,0.644203
15,0.014320,0.040453,19275,723.267667,932.020559,208.75289206129202,auto-portee,Medium,3_ans.,0.007492,0.766498
106,0.015932,0.031746,18794,709.438597,871.183880,161.74528295167684,auto-portee,Hight,3 ans,0.008359,0.855190
128,0.016112,0.036578,18889,684.398858,854.055851,169.65699352090905,auto-portee,Medium,3 ans,0.008023,0.820748
...,...,...,...,...,...,...,...,...,...,...,...
833,90.847604,0.225507,18615,68.655024,80.367723,11.71269876470713,essence,Hight,1_an.,0.001280,0.675588
709,93.720276,0.232029,19358,61.283924,72.558648,11.27472426970402,essence,Low,1an,0.001398,0.737814
1364,94.190711,0.226721,19348,65.009978,75.624378,10.614399621337961,essence,Low,1_an.,0.001289,0.679838
818,95.100035,0.232960,18476,61.929406,72.046755,10.117349820466503,essence,Low,1_an.,0.001598,0.842908
808,104.614865,0.196455,18966,65.249862,77.462485,12.212623662295835,essence,Low,1an,0.001265,0.667658

In [145]:
df[df['capacity'] >60]

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
337,64.414413,0.083212,18367,281.515090,404.679728,123.16463831221323,electrique,Hight,2ans,0.002368,0.616985
401,61.205768,0.094508,18974,258.142164,382.374023,124.23185871844714,electrique,Medium,2_ans,0.002827,0.736671
407,70.603826,0.095505,18921,290.670107,407.434424,116.76431767370312,electrique,Low,2_ans.,0.002302,0.599938
434,62.548564,0.101284,18566,324.314855,395.969504,71.65464861996455,electrique,Low,2 ans,0.002097,0.546504
474,61.613508,0.097596,19623,270.732303,382.325570,111.5932666054699,electrique,Low,2 ans,0.003035,0.790802
...,...,...,...,...,...,...,...,...,...,...,...
1382,64.262408,0.232493,18880,65.147208,76.341530,11.194321846795665,essence,Low,1 ans,0.001178,0.621299
1385,65.996715,0.234680,19569,62.518795,73.461685,10.94289076366071,essence,Medium,1_an.,0.001568,0.827282
1392,61.018405,0.193229,18572,64.671915,76.931706,12.259790988258874,essence,Medium,1_an,0.001057,0.557520
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537

In [153]:
df.loc[df['capacity']>60, :]

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
337,64.414413,0.083212,18367,281.515090,404.679728,123.16463831221323,electrique,Hight,2ans,0.002368,0.616985
401,61.205768,0.094508,18974,258.142164,382.374023,124.23185871844714,electrique,Medium,2_ans,0.002827,0.736671
407,70.603826,0.095505,18921,290.670107,407.434424,116.76431767370312,electrique,Low,2_ans.,0.002302,0.599938
434,62.548564,0.101284,18566,324.314855,395.969504,71.65464861996455,electrique,Low,2 ans,0.002097,0.546504
474,61.613508,0.097596,19623,270.732303,382.325570,111.5932666054699,electrique,Low,2 ans,0.003035,0.790802
...,...,...,...,...,...,...,...,...,...,...,...
1382,64.262408,0.232493,18880,65.147208,76.341530,11.194321846795665,essence,Low,1 ans,0.001178,0.621299
1385,65.996715,0.234680,19569,62.518795,73.461685,10.94289076366071,essence,Medium,1_an.,0.001568,0.827282
1392,61.018405,0.193229,18572,64.671915,76.931706,12.259790988258874,essence,Medium,1_an,0.001057,0.557520
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537

In [159]:
df[df['capacity'].isin([60,70])]    ????

Empty DataFrame
Columns: [capacity, failure_rate, id, margin, price, prod_cost, product_type, quality, warranty, market_share, attractiveness]
Index: []

In [161]:
df.dropna()

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [162]:
df.isnull()

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
1394,False,False,False,False,False,False,False,False,False,False,False
1395,False,False,False,False,False,False,False,False,False,False,False
1396,False,False,False,False,False,False,False,False,False,False,False
1397,False,False,False,False,False,False,False,False,False,False,False
1398,False,False,False,False,False,False,False,False,False,False,False

In [160]:
df.loc[:10, ('id', 'price','market_share')]

       id       price  market_share
0   18377  828.802103      0.006360
1   19363  882.894916      0.006840
2   19641  919.355522      0.006179
3   18728  817.085097      0.007925
4   18722  844.581465      0.007406
5   18268  905.297503      0.007596
6   18448  930.615022      0.007488
7   18943  818.075591      0.005291
8   19640  816.774028      0.006063
9   19559  814.799650      0.005700
10  19560  785.615675      0.007457

In [163]:
df.apply(lambda x: x*10)

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,104.926233,0.425280,183770,6337.665842,8288.021035,195.03551928211797195.03551928211797195.035519...,auto-porteeauto-porteeauto-porteeauto-porteeau...,LowLowLowLowLowLowLowLowLowLow,3ans3ans3ans3ans3ans3ans3ans3ans3ans3ans,0.063600,6.506483
1,202.737304,0.378964,193630,7315.768166,8828.949159,151.31809934886763151.31809934886763151.318099...,auto-porteeauto-porteeauto-porteeauto-porteeau...,LowLowLowLowLowLowLowLowLowLow,3 ans.3 ans.3 ans.3 ans.3 ans.3 ans.3 ans.3 an...,0.068404,6.997925
2,201.904569,0.391112,196410,7412.182025,9193.555217,178.13731921134948178.13731921134948178.137319...,auto-porteeauto-porteeauto-porteeauto-porteeau...,LowLowLowLowLowLowLowLowLowLow,3_ans3_ans3_ans3_ans3_ans3_ans3_ans3_ans3_ans3...,0.061790,6.321289
3,272.201310,0.413031,187280,6542.556354,8170.850970,162.82946157588628162.82946157588628162.829461...,auto-porteeauto-porteeauto-porteeauto-porteeau...,LowLowLowLowLowLowLowLowLowLow,3 anss3 anss3 anss3 anss3 anss3 anss3 anss3 an...,0.079248,8.107299
4,163.709111,0.379382,187220,7030.945266,8445.814645,141.48693796090603141.48693796090603141.486937...,auto-porteeauto-porteeauto-porteeauto-porteeau...,MediumMediumMediumMediumMediumMediumMediumMedi...,3ans.3ans.3ans.3ans.3ans.3ans.3ans.3ans.3ans.3...,0.074056,7.576142
...,...,...,...,...,...,...,...,...,...,...,...
1394,449.598945,2.346469,184510,636.625610,751.611015,11.49854048107458311.49854048107458311.4985404...,essenceessenceessenceessenceessenceessenceesse...,MediumMediumMediumMediumMediumMediumMediumMedi...,1 an1 an1 an1 an1 an1 an1 an1 an1 an1 an,0.009726,5.131264
1395,593.560581,2.536937,186630,640.145431,753.951318,11.38058873666856711.38058873666856711.3805887...,essenceessenceessenceessenceessenceessenceesse...,LowLowLowLowLowLowLowLowLowLow,1ans1ans1ans1ans1ans1ans1ans1ans1ans1ans,0.010382,5.477385
1396,678.652221,2.289345,191690,621.320349,8108.831484,unknownunknownunknownunknownunknownunknownunkn...,essenceessenceessenceessenceessenceessenceesse...,LowLowLowLowLowLowLowLowLowLow,1an.1an.1an.1an.1an.1an.1an.1an.1an.1an.,0.012426,6.556219
1397,668.554355,2.449479,189460,586.971216,684.913184,9.7941967737614589.7941967737614589.7941967737...,essenceessenceessenceessenceessenceessenceesse...,LowLowLowLowLowLowLowLowLowLow,1 an1 an1 an1 an1 an1 an1 an1 an1 an1 an,0.016443,8.675367
1398,547.127128,1.771434,190170,642.592122,749.554283,10.69621608674293410.69621608674293410.6962160...,essenceessenceessenceessenceessenceessenceesse...,LowLowLowLowLowLowLowLowLowLow,1an.1an.1an.1an.1an.1an.1an.1an.1an.1an.,0.010215,5.389687

In [178]:
df1= df.copy()
df2 = pd.concat([df1,df])
df2

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [181]:
df1= df.copy()
df3 = pd.concat([df1,df], join = 'inner')
df3

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [182]:
df.groupby('id')

In [183]:
df.groupby('id').sum()

,capacity,failure_rate,margin,price,market_share,attractiveness
id,,,,,,
18259,66.180234,0.249758,61.182062,71.867486,0.001540,0.812690
18260,61.422331,0.256102,66.609965,78.048399,0.001030,0.543665
18261,35.314779,0.089054,276.596330,369.843472,0.002929,0.763196
18262,0.059048,0.241700,58.573978,68.418652,0.001324,0.698436
18263,55.215627,0.174159,61.859634,73.565985,0.001239,0.653486
...,...,...,...,...,...,...
19653,81.862100,0.225308,67.192433,78.005512,0.001149,0.606037
19654,39.495184,0.088142,286.212806,393.094171,0.002319,0.604323
19655,21.433848,0.042433,730.466258,894.143074,0.007247,0.741434
19656,83.180478,0.299144,60.513745,73.126677,0.001294,0.682719
19657,0.057403,0.209684,57.990321,73.790139,0.001254,0.661866

In [184]:
df.groupby(['id','price']).sum()

,,capacity,failure_rate,margin,market_share,attractiveness
id,price,,,,,
18259,71.867486,66.180234,0.249758,61.182062,0.001540,0.812690
18260,78.048399,61.422331,0.256102,66.609965,0.001030,0.543665
18261,369.843472,35.314779,0.089054,276.596330,0.002929,0.763196
18262,68.418652,0.059048,0.241700,58.573978,0.001324,0.698436
18263,73.565985,55.215627,0.174159,61.859634,0.001239,0.653486
...,...,...,...,...,...,...
19653,78.005512,81.862100,0.225308,67.192433,0.001149,0.606037
19654,393.094171,39.495184,0.088142,286.212806,0.002319,0.604323
19655,894.143074,21.433848,0.042433,730.466258,0.007247,0.741434
19656,73.126677,83.180478,0.299144,60.513745,0.001294,0.682719
19657,73.790139,0.057403,0.209684,57.990321,0.001254,0.661866

In [254]:
#3

values = pd.to_numeric(df["prod_cost"], errors="coerce")
display(df[values.isna()])
display(df[values < 0])

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness,Essence,Electrique,Auto_portee
100,28.029561,0.040033,18993,746.108663,350.216029,unknown,1,Hight,3anss,0.007847,0.802719,1,0,0
107,31.019904,0.038149,19522,658.116184,411.087712,NaN,1,Low,3 ans.,0.007505,0.767814,1,0,0
135,23.340049,0.039023,19596,726.196516,396.773981,NaN,1,Medium,3ans,0.006937,0.709674,1,0,0
154,26.317938,0.098641,19642,272.038610,865.688164,unknown,3,Low,2_ans.,0.001632,0.425166,0,0,1
166,39.703060,0.073723,18870,248.010000,70.271198,unknown,3,Low,2 ans,0.002607,0.679325,0,0,1
170,34.857361,0.114097,18964,241.552664,72.970497,NaN,3,Low,2 anss,0.003039,0.791921,0,0,1
232,41.875278,0.096177,18736,291.932051,891.665482,NaN,3,Medium,2_anss,0.002167,0.564682,0,0,1
280,33.383391,0.091738,18359,260.868096,869.049664,NaN,3,Low,2 ans,0.002675,0.696976,0,0,1
331,35.137522,0.093361,19251,262.668491,77.213051,NaN,3,Low,2_ans.,0.002158,0.562313,0,0,1
471,44.813757,0.102862,18379,259.776821,72.035083,NaN,3,Medium,2 ans,0.002886,0.751908,0,0,1
479,36.259976,0.105738,18620,288.507312,74.897367,unknown,3,Low,2 ans.,0.001733,0.451514,0,0,1
532,40.218428,0.091096,18555,259.753146,848.659019,unknown,3,Low,2_ans.,0.002731,0.711726,0,0,1
569,44.771225,0.241101,18411,60.565166,367.821566,unknown,2,Low,1an,0.001190,0.627962,0,1,0
607,62.926054,0.228961,18806,66.590674,843.474741,NaN,2,Low,1 an,0.001026,0.541218,0,1,0
711,50.760451,0.275969,19381,60.069105,401.325676,NaN,2,Low,1_an,0.001170,0.617490,0,1,0
732,39.691240,0.227008,18535,61.127369,389.408396,NaN,2,Medium,1 ans,0.000978,0.515936,0,1,0
795,59.270658,0.201919,19399,60.991972,397.807476,NaN,2,Low,1_ans,0.001421,0.749497,0,1,0
804,44.467231,0.191641,19038,65.094740,861.597824,NaN,2,Medium,1_ans,0.000975,0.514259,0,1,0
815,74.890396,0.217977,18739,60.409239,833.424852,NaN,2,Low,1 an,0.001615,0.851886,0,1,0
843,72.452836,0.166651,18792,63.496297,398.305604,NaN,2,Low,1 an,0.001240,0.654296,0,1,0
845,43.941280,0.249715,19365,61.455882,905.390344,NaN,2,Medium,1_ans,0.001362,0.718510,0,1,0
923,67.500998,0.196182,19191,63.859993,885.550319,unknown,2,Low,1 an.,0.001234,0.651009,0,1,0
934,59.048087,0.233942,18874,64.523335,841.636652,NaN,2,Low,1ans,0.001217,0.642085,0,1,0
981,64.607864,0.247584,18387,59.588596,878.615866,unknown,2,Medium,1an.,0.001736,0.915787,0,1,0
983,52.234773,0.253485,18503,68.359089,392.653716,unknown,2,Hight,1ans,0.000989,0.521938,0,1,0
1021,50.763299,0.215908,19234,60.301489,347.511767,NaN,2,Low,1ans,0.001169,0.616570,0,1,0
1091,43.616434,0.202734,18651,60.221030,895.108605,unknown,2,Low,1_an,0.001103,0.581745,0,1,0
1105,76.363347,0.211185,19224,64.957288,832.840825,NaN,2,Low,1 an.,0.001245,0.656965,0,1,0
1223,46.611471,0.239549,19160,59.147640,876.032341,unknown,2,Low,1an.,0.001378,0.726867,0,1,0
1357,57.936910,0.232674,18329,59.878009,381.677052,unknown,2,Low,1_ans,0.001188,0.626693,0,1,0
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,2,Low,1an.,0.001243,0.655622,0,1,0

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness,Essence,Electrique,Auto_portee
62,15.627623,0.041714,19448,657.152001,359.675157,-64,1,Low,3 ans,0.006839,0.699600,1,0,0
103,18.889544,0.036835,19194,661.693700,77.249896,-64,1,Low,3 ans,0.006655,0.680852,1,0,0
162,39.294042,0.104430,19415,269.875578,895.908032,-64,3,Low,2ans,0.002157,0.561937,0,0,1
185,35.101579,0.094531,18486,264.497255,80.768167,-64,3,Low,2_ans.,0.002893,0.753937,0,0,1
204,35.759231,0.080239,18854,271.454095,853.113313,-64,3,Low,2 anss,0.001153,0.300319,0,0,1
281,32.284422,0.087399,18895,299.179149,842.290304,-64,3,Low,2_ans,0.001571,0.409392,0,0,1
525,28.149706,0.091212,19204,253.637540,78.051216,-64,3,Low,2_ans,0.002763,0.719915,0,0,1
593,57.385720,0.200876,19121,61.832802,910.237658,-64,2,Low,1_an,0.001233,0.650412,0,1,0
932,74.269568,0.243184,19322,65.897454,869.457389,-64,2,Low,1 ans,0.001049,0.553251,0,1,0
936,79.907161,0.225768,18506,65.625049,396.370061,-64,2,Medium,1_ans,0.001111,0.585933,0,1,0
1002,48.634617,0.216839,18288,59.185909,844.086884,-64,2,Low,1_an.,0.001589,0.838527,0,1,0
1011,75.405057,0.242298,19323,68.048638,384.483419,-64,2,Medium,1 an.,0.001152,0.607640,0,1,0
1047,68.386519,0.222190,18698,61.047944,366.298499,-64,2,Hight,1_an.,0.001357,0.716167,0,1,0
1050,67.474496,0.227344,18608,65.065174,811.234854,-64,2,Medium,1_ans,0.001221,0.643995,0,1,0
1191,76.999754,0.217446,18510,68.333723,368.273038,-64,2,Low,1an,0.001086,0.573045,0,1,0
1199,64.258698,0.223812,19648,64.892790,404.745466,-64,2,Low,1an,0.000878,0.463042,0,1,0
1330,49.364595,0.256847,19268,64.289960,867.163019,-64,2,Medium,1an.,0.000969,0.511401,0,1,0
1336,71.538747,0.238846,19344,66.131521,831.094377,-64,2,Low,1_an.,0.000685,0.361364,0,1,0

In [251]:
#4

df.isnull().sum()

capacity           0
failure_rate       0
id                 0
margin             0
price              0
prod_cost         18
product_type       0
quality            0
warranty           0
market_share       0
attractiveness     0
Essence            0
Electrique         0
Auto_portee        0
dtype: int64

In [248]:
#5  

df.fillna(df.mean())

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness,Essence,Electrique,Auto_portee
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,1,Low,3ans,0.006360,0.650648,1,0,0
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,1,Low,3 ans.,0.006840,0.699792,1,0,0
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,1,Low,3_ans,0.006179,0.632129,1,0,0
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,1,Low,3 anss,0.007925,0.810730,1,0,0
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,1,Medium,3ans.,0.007406,0.757614,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,2,Medium,1 an,0.000973,0.513126,0,1,0
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,2,Low,1ans,0.001038,0.547739,0,1,0
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,2,Low,1an.,0.001243,0.655622,0,1,0
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,2,Low,1 an,0.001644,0.867537,0,1,0
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,2,Low,1an.,0.001022,0.538969,0,1,0

In [262]:
#6

df["warranty"].unique()
df

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness,Essence,Electrique,Auto_portee
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,1,Low,3,0.006360,0.650648,1,0,0
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,1,Low,3,0.006840,0.699792,1,0,0
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,1,Low,3,0.006179,0.632129,1,0,0
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,1,Low,3,0.007925,0.810730,1,0,0
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,1,Medium,3,0.007406,0.757614,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,2,Medium,1,0.000973,0.513126,0,1,0
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,2,Low,1,0.001038,0.547739,0,1,0
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,2,Low,1,0.001243,0.655622,0,1,0
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,2,Low,1,0.001644,0.867537,0,1,0
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,2,Low,1,0.001022,0.538969,0,1,0

In [263]:
#7 #8

df["warranty"] = df["warranty"].apply(lambda x: x[0])
df

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness,Essence,Electrique,Auto_portee
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,1,Low,3,0.006360,0.650648,1,0,0
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,1,Low,3,0.006840,0.699792,1,0,0
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,1,Low,3,0.006179,0.632129,1,0,0
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,1,Low,3,0.007925,0.810730,1,0,0
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,1,Medium,3,0.007406,0.757614,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,2,Medium,1,0.000973,0.513126,0,1,0
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,2,Low,1,0.001038,0.547739,0,1,0
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,2,Low,1,0.001243,0.655622,0,1,0
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,2,Low,1,0.001644,0.867537,0,1,0
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,2,Low,1,0.001022,0.538969,0,1,0

In [255]:
#9 Traiter la colonne price afin d'avoir 3 catégories :   


price = df["price"]
se_price=pd.Series(price)
bin = [0,301, 501, 1000000]
se1 = pd.cut(se_price,bin)
se1

0       (501, 1000000]
1       (501, 1000000]
2       (501, 1000000]
3       (501, 1000000]
4       (501, 1000000]
             ...
1394          (0, 301]
1395          (0, 301]
1396    (501, 1000000]
1397          (0, 301]
1398          (0, 301]
Name: price, Length: 1399, dtype: category
Categories (3, interval[int64]): [(0, 301] < (301, 501] < (501, 1000000]]

In [256]:
#10

df.loc[df.product_type=='essence', 'product_type'] = 1
df.loc[df.product_type=='auto-portee', 'product_type'] = 2
df.loc[df.product_type=='electrique', 'product_type'] = 3
df

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness,Essence,Electrique,Auto_portee
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,1,Low,3ans,0.006360,0.650648,1,0,0
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,1,Low,3 ans.,0.006840,0.699792,1,0,0
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,1,Low,3_ans,0.006179,0.632129,1,0,0
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,1,Low,3 anss,0.007925,0.810730,1,0,0
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,1,Medium,3ans.,0.007406,0.757614,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,2,Medium,1 an,0.000973,0.513126,0,1,0
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,2,Low,1ans,0.001038,0.547739,0,1,0
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,2,Low,1an.,0.001243,0.655622,0,1,0
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,2,Low,1 an,0.001644,0.867537,0,1,0
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,2,Low,1an.,0.001022,0.538969,0,1,0

In [245]:
#11

df = df.assign(Essence=df["product_type"].apply(lambda x: 1 if x==1 else 0), Auto_portee=df["product_type"].apply(lambda x: 1 if x==3 else 0), Electrique=df["product_type"].apply(lambda x: 1 if x==2 else 0))
df.groupby(["product_type"])
df

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness,Essence,Electrique,Auto_portee
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,1,Low,3ans,0.006360,0.650648,1,0,0
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,1,Low,3 ans.,0.006840,0.699792,1,0,0
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,1,Low,3_ans,0.006179,0.632129,1,0,0
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,1,Low,3 anss,0.007925,0.810730,1,0,0
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,1,Medium,3ans.,0.007406,0.757614,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,2,Medium,1 an,0.000973,0.513126,0,1,0
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,2,Low,1ans,0.001038,0.547739,0,1,0
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,2,Low,1an.,0.001243,0.655622,0,1,0
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,2,Low,1 an,0.001644,0.867537,0,1,0
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,2,Low,1an.,0.001022,0.538969,0,1,0